Repository lyra-planet/tdesign-mobile-vue-starter-community: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js, eslint --cache --fix

feat: 唤醒数字键盘优化
  src/views/login/components/PasswordLoginForm.vue
  src/views/login/components/PhoneLoginForm.vue
  src/views/login/components/VerifyCodeForm.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: i18n缓存优化
  locales/en-us.yaml
  locales/zh-cn.yaml
  src/plugins/i18n.ts
  src/views/home/components/HomeSwiper.vue
  src/views/my/edit.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

build: vite打包优化：
  build/plugins.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js, eslint --cache --fix

perf: 首屏优化
  src/assets/images/upload4.png
  src/assets/images/upload6.png
  src/assets/svgs/Avatar2.svg
  src/assets/svgs/Avatar3.svg
  src/components/ServiceGrid.vue
  src/config/index.ts
  src/main.ts
  src/mocks/data/chat.ts
  src/mocks/data/home.ts
  src/mocks/data/users.ts
  src/mocks/index.ts
  src/views/home/components/HomeCard.vue
  src/views/home/components/HomeSwiper.vue
  src/views/login/components/PhoneLoginForm.vue
  src/views/my/components/UserInfoCard.vue
  src/views/my/composables/useAddressPicker.ts
  src/views/my/edit/data.ts
  src/views/notice/index.vue
  src/views/publish/components/PublishUpload.vue
  types/assets.d.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

perf: datacenter数据mock抽象api
  locales/en-us.yaml
  locales/zh-cn.yaml
  src/api/datacenter.ts
  src/api/publish.ts
  src/api/search.ts
  src/mocks/data/datacenter.ts
  src/mocks/data/publish.ts
  src/mocks/data/search.ts
  src/mocks/handlers.ts
  src/views/datacenter/components/CompletionSection.vue
  src/views/datacenter/components/InteractionSection.vue
  src/views/datacenter/components/OverviewSection.vue
  src/views/datacenter/composables/useDataCenterStats.ts
  src/views/datacenter/index.vue
  src/views/publish/components/PublishTag.vue
  src/views/search/index.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

perf: 验证码登录页逻辑优化
  src/views/login/components/VerifyCodeForm.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

perf: 搜索页性能优化
  src/api/request.ts
  src/api/search.ts
  src/mocks/handlers.ts
  src/views/search/index.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

perf: 消息列表页虚拟滚动优化
  src/components/VirtualList.vue
  src/views/talklist/index.vue
  types/components.d.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

perf: 一些优化如下
  build/plugins.ts
  locales/zh-cn.yaml
  package.json
  pnpm-lock.yaml
  src/config/index.ts
  src/layout/composables/useNavigation.ts
  src/router/index.ts
  src/router/utils.ts
  src/store/index.ts
  src/store/user.ts
  src/views/home/components/HomeFab.vue
  src/views/publish/index.vue
  vite.config.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js, eslint --cache --fix

feat: 新增httpCode页面
  locales/en-us.yaml
  locales/zh-cn.yaml
  src/assets/svgs/404.svg
  src/assets/svgs/500.svg
  src/assets/svgs/errorPage.svg
  src/router/index.ts
  src/views/error/403/index.vue
  src/views/error/404/index.vue
  src/views/error/500/index.vue
  src/views/error/ErrorPage.vue
  types/vue-router.d.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

perf: i18n持久化优化
  src/views/my/general-settings.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

docs: 英文文档补全
  docs/en/guide/architecture.md
  docs/en/guide/config.md
  docs/en/guide/directory-structure.md
  docs/en/guide/error-handling.md
  docs/en/guide/http.md
  docs/en/guide/layout.md
  docs/en/guide/performance.md
  docs/en/guide/store.md
Due: eslint --cache --fix

docs: 文档优化
  docs/.vitepress/config.ts
  docs/en/index.md
  docs/guide/index.md
  docs/index.md
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js, eslint --cache --fix

fix: 修复一个路由跳转bug
  src/views/publish/components/PublishButtons.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

perf: css按需引入
  build/plugins.ts
  src/main.ts
  src/plugins/message.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

polish: vitpress dark模式logo适配
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

docs: 英文文档补全
  docs/en/pages/datacenter.md
  docs/en/pages/home.md
  docs/en/pages/index.md
  docs/en/pages/login.md
  docs/en/pages/my.md
  docs/en/pages/publish.md
  docs/en/pages/search.md
  docs/en/pages/talklist.md
Due: eslint --cache --fix

perf: 路由全部转为手动方便维护
  src/router/index.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 更新环境配置，移除网络配置文件并调整API基础路径
  .env.development
  .env.production
  src/api/request.ts
  src/config/app.config.ts
  src/config/index.ts
  src/config/network.config.ts
  src/main.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 添加超时取消功能
  src/api/request.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 增加认证token管理及业务成功码白名单功能
  src/api/request.ts
  src/api/types.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

fix: 环境变量问题修复
  .env.development
Due: none

perf: auth api的params对齐type.ts
  src/api/auth.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 添加下拉刷新功能的多语言支持，并删除不再使用的SVG图标文件
  locales/en-us.yaml
  locales/zh-cn.yaml
  src/assets/svgs/MiniProgramCloseOutlined.svg
  src/assets/svgs/MiniProgramMoreOutlined.svg
  src/assets/svgs/ios-battery.svg
  src/assets/svgs/ios-signal.svg
  src/assets/svgs/ios-wifi.svg
Due: none

feat: 优化消息显示组件，调整偏移量和响应式布局，更新首页和搜索页样式
  src/plugins/message.ts
  src/views/home/components/HomeCard.vue
  src/views/home/components/HomeSwiper.vue
  src/views/home/index.vue
  src/views/search/index.vue
  src/views/talklist/index.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 更新多语言支持，优化底部导航组件样式，调整首页布局和响应式设计
  locales/en-us.yaml
  src/layout/components/BottomNavigation.vue
  src/views/home/index.vue
  src/views/talklist/index.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 添加 vue-virtual-scroller 组件支持，优化虚拟列表的实现方式，更新相关属性和样式
  package.json
  pnpm-lock.yaml
  src/components/VirtualList.vue
  src/views/talklist/index.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js, eslint --cache --fix

feat: 更新多语言支持，添加错误和空状态提示，优化组件中的文本处理逻辑
  locales/en-us.yaml
  locales/zh-cn.yaml
  src/components/EmptyState.vue
  src/components/ErrorState.vue
  src/components/LoadingOverlay.vue
  src/plugins/message.ts
  src/views/datacenter/composables/useDataCenterStats.ts
  src/views/edit/composables/useEditHook.ts
  src/views/home/index.vue
  src/views/notice/components/MessageInput.vue
  src/views/notice/composables/useNotice.ts
  src/views/setting/components/generalSettings.vue
  src/views/setting/index.vue
  src/views/talklist/composables/useTalklist.ts
  src/views/talklist/index.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 更新虚拟列表组件，优化属性配置和事件处理，调整消息列表展示方式
  src/components/VirtualList.vue
  src/views/notice/components/MessageList.vue
  src/views/notice/index.vue
  src/views/talklist/index.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 优化首页内容加载逻辑，添加虚拟列表支持，重构组件以提升性能和可维护性
  src/api/home.ts
  src/components/VirtualList.vue
  src/layout/index.vue
  src/views/home/components/HomeFab.vue
  src/views/home/composables/useHomeContent.ts
  src/views/home/composables/useHomeGrid.ts
  src/views/home/composables/usePublishSuccessMessage.ts
  src/views/home/index.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 更新多语言支持，简化描述文本，优化发布组件样式
  locales/en-us.yaml
  src/views/publish/components/PublishText.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

fix: 调整message偏移量
  src/plugins/message.ts
  src/views/home/composables/usePublishSuccessMessage.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 添加搜索历史清空功能，更新多语言支持，优化搜索页面样式
  locales/en-us.yaml
  locales/zh-cn.yaml
  src/views/search/composables/useSearch.ts
  src/views/search/index.vue
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js

feat: 补充了详细的项目文档
  .env.development
  docs/en/guide/api.md
  docs/en/guide/directory-structure.md
  docs/en/guide/error-handling.md
  docs/en/guide/http.md
  docs/en/guide/mocks.md
  docs/en/guide/store.md
  docs/en/guide/theme.md
  docs/guide/api.md
  docs/guide/directory-structure.md
  docs/guide/error-handling.md
  docs/guide/http.md
  docs/guide/mocks.md
  docs/guide/store.md
  docs/guide/theme.md
Due: eslint --cache --fix

feat: 更新文档，添加个人信息编辑和设置页面，优化列表三态处理，调整主题切换逻辑
  docs/.vitepress/config.ts
  docs/.vitepress/sidebar.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/style.css
  docs/en/guide/error-handling.md
  docs/en/guide/layout.md
  docs/en/guide/message.md
  docs/en/guide/mocks.md
  docs/en/guide/performance.md
  docs/en/guide/router.md
  docs/en/guide/theme.md
  docs/en/pages/edit.md
  docs/en/pages/home.md
  docs/en/pages/index.md
  docs/en/pages/my.md
  docs/en/pages/search.md
  docs/en/pages/setting.md
  docs/guide/api.md
  docs/guide/error-handling.md
  docs/guide/index.md
  docs/guide/layout.md
  docs/guide/message.md
  docs/guide/mocks.md
  docs/guide/performance.md
  docs/guide/router.md
  docs/guide/store.md
  docs/guide/theme.md
  docs/pages/edit.md
  docs/pages/home.md
  docs/pages/index.md
  docs/pages/my.md
  docs/pages/search.md
  docs/pages/setting.md
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js, eslint --cache --fix

feat: 更新文档，调整目录结构和命名规范，优化错误处理和状态管理部分
  docs/.vitepress/config.ts
  docs/.vitepress/sidebar.ts
  docs/en/guide/directory-structure.md
  docs/en/guide/error-handling.md
  docs/en/guide/index.md
  docs/en/guide/store.md
  docs/guide/directory-structure.md
  docs/guide/error-handling.md
  docs/guide/utils.md
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js, eslint --cache --fix

feat: 更新多语言支持，添加生产环境告警配置和空闲时间预取功能，优化代码分割策略
  docs/en/guide/i18n.md
  docs/en/guide/performance.md
  docs/guide/i18n.md
  docs/guide/performance.md
  src/plugins/i18n.ts
  types/components.d.ts
  vite.config.ts
Due: eslint --cache --fix --ignore-pattern public/mockServiceWorker.js, eslint --cache --fix

Path conditions:
  eslint --cache --fix --ignore-pattern public/mockServiceWorker.js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  eslint --cache --fix: (any of: package.json) or (any of: *.md)
